.home_banner {
  width: auto;
  height: 400px;
}

.home_box{
  width: auto;
  height: 100px;
  background-color: rgb(45, 44, 44);
  color: white;
  position:relative;
  display: block;
}

.logo_home{
  border: 10px solid rgb(45, 44, 44);
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(23, 166, 23);
  position:absolute;
}

.logo_box{
  display: flex;
  justify-content: center;
  align-self: center;
}

.logo{
  margin-top: 10px;
  width: auto;
  height: auto;
}

.evento{
  padding: 50px;
  background-color: rgb(23, 166, 23);
  color: white;
}

.noticias{
  width: auto;
  height: 200px;
}
